html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f2f3f5;
    padding: 15px;
}

.box-left {
    width: 350px;
    height: 350px;
    overflow: hidden;
    background-color: cyan;
}

.box-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.wbook {
    width: 250px;
    height: 250px;
    margin-left: 100px;
    margin-top: 50px;
    background-color: gray;
    overflow: hidden;
}

.row1 {
    width: 600px;
    display: flex;
}

.row2 form {
    width: 500px;
    margin: 0 auto;
}

#file {
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    background-color: #f2f3f5;
}


/* 封面容器的样式 */

.cover-box {
    display: flex;
}


/* 左侧裁剪区域的样式 */

.cover-left {
    width: 400px;
    height: 280px;
    overflow: hidden;
    margin-right: 20px;
}


/* 右侧盒子的样式 */

.cover-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 预览区域的样式 */

.img-preview {
    width: 250px;
    height: 250px;
    background-color: #ccc;
    margin-bottom: 20px;
    overflow: hidden;
}